@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+VIC+Guides&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background: rgba(202, 202, 220, 0.746);
}
#home{
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../images/contactbackground.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
header{
    background: white;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}
header .logo{
    width: 200px;
    height: 80px;
}
.logo img{
    width: 200px;
    position: relative;
    left: 1rem;
    top: -1rem;
}
.nav_bar{
    position: relative;
    left: 26rem;
    top: -2rem;
}
.nav_bar ul li{
    padding-left: 30px;
    font-size: 22px;
    display: inline-block;
}
.nav_bar ul li a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    transition: .3s;
}
.nav_bar ul li a:hover{
    color: rgb(147, 6, 91);
}
.button{
    position: relative;
    left: 64rem;
    top: -3rem;
}
.button a{
    padding: 13px 60px;
    font-family: sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    background: linear-gradient(45deg, rgb(233, 60, 230), white);
    transition: .3s;
}
.button a:hover{
    color: white;
    background: linear-gradient(45deg, white, rgb(233, 60, 230));
}
.container{
    position: absolute;
}
.container_text{
    position: relative;
    bottom: 2rem;
}
.container_text h1{
    font-family: Alegreya;
    position: relative;
    bottom: -22rem;
    left: 30rem;
    color: rgb(233, 60, 230);
    text-transform: uppercase;
    font-size: 60px;
}


.gallery_image h1{
    font-size: 60px;
    position: relative;
    left: 32rem;
    top: 3rem;
    font-family: Alegreya;
    color: black;
}
.gallery_image .imags img{
    width: 310px;
    height: 300px;
    position: relative;
    left: 3rem;
    top: 5rem;
}
.gallery_image .imags{
    position: absolute;
    top: 45rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.gallery_image .img5 img{
    width: 550px;
    height: 600px;
    position: relative;
    top: 8.4rem;
    left: 43rem;
}

#register{
    position: relative;
    top: 20rem;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../images/background2.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    height: 100vh;
}
.register{
    display: flex;
    justify-content: space-around;
}
.register_text{
    margin-left: -45rem;
    margin-top: 3rem;
    font-family: sans-serif;
}
.register_text h1{
    font-size: 50px;
    font-family: Alegreya;
    margin-left: 3rem;
}
.register_text h4{
    font-size: 28px;
    padding-top: 1rem;
}
.register_address{
    display: flex;
    padding-left: 8rem;
    position: relative;
    left: 30rem;
    top: 12rem;
    font-size: 35px;
    background: black;
    color: rgb(233, 60, 230);
    width: 782px;
    height: 20vh;
}
.register_address h5{
    padding-top: 2rem;
    padding-left: -5rem;
}
.register_address p{
    padding-left: 7rem;
    padding-top: 2rem;
}
.button_register a{
    background: rgb(233, 60, 230);
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    padding: 20px 50px;
    position: absolute;
    top: 18rem;
    left: 7rem;
    border-radius: 8px;
}
.end{
    position: relative;
    top: 18rem;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}

